body {
  background-color: brown;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.container {
  width: 80%;
  max-width: 1000px;
  padding: 30px;
  margin: 0 auto;
}

